
.bgr-blue-class{
    background-color: #00cc99;
}

.u_list {
    margin: 0 0 2em 0;
    list-style-type:none;
    padding: 0;
    width: 15em;
}

.u_list li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0.5em 0;
    padding-left: 3em;
    height: 1.2em;
    border-radius: 4px;
}
.u_list li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.u_list li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.u_list .text {
    position: relative;
    top: -3px;
}
.u_list .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}